.toggle-move {
	width: 60px;
	height: 74px;
	background-color: #ffffff;
}

.toggle-move__wrapper {
	position: relative;
	width: 50%;
	height: 100%;
}

.toggle-move__wrapper.move {
	transform: translateX(100%);
}

.toggle-move__line-1 {
	position: absolute;
	top:0;
	left: calc(50% - 1px);
	width: 2px;
	height: calc(100% / 2 - 17px);
	background-color: #000;
}

.toggle-move__vv {
	position: absolute;
	top: calc(50% - 17px);
	left: calc(50% - 17px);
	width: 34px;
	height: 34px;
}

.toggle-move__line-2 {
	position: absolute;
	bottom:0;
	left: calc(50% - 1px);
	width: 2px;
	height: calc(100% / 2 - 17px);
	background-color: #000;
}