.unit-dwo {
	position: relative;
	width: 93px;
	height: 352px;
	border: 1px solid rgb(0, 0, 0);
	margin-left: -1px;
}

.unit-dwo__start {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 15px;
	padding: 1px 0;
	font-family: "sans-serif";
	/* font-weight: bold; */
}

.unit-dwo__horiz-line0 {
	width: 100%;
	height: 1px;
	background-color: #000000;
	position: absolute;
	top: 18px;
	left: 0;
}


/* _______________________________________ */

.unit-dwo__horiz-line1 {
	width: 100%;
	height: 8px;
	background-color: #000000;
	position: absolute;
	top: 30px;
	left: 0;
}

.unit-dwo__horiz-line10 {
	width: 8px;
	height: 3px;
	background-color: #000000;
	position: absolute;
	top: 47px;
	left: -3px;
}

.unit-dwo__horiz-line11 {
	width: 8px;
	height: 3px;
	background-color: #000000;
	position: absolute;
	top: 124px;
	left: -3px;
}

.unit-dwo__vertical-line1 {
	width: 2px;
	height: 255px;
	background-color: #000000;
	position: absolute;
	top: 30px;
	left: 35px;
}

.unit-dwo__vertical-line1-vv {
    position: absolute;
	width: 60px;
	height: 74px;
    top: 50px;
	left: -14px;
	/* background-color: #f5b8b8; */
}

.unit-dwo__horizontal-line-zn2 {
	width: 30px;
	height: 2px;
	background-color: #000000;
	position: absolute;
	left: 0;
}

.unit-dwo__vertical-line-zn-2 {
	position: absolute;
	top: 180px;
	left: 0px;
	width: 65px;
	height: 65px;
	/* background-color: #f09456; */
}

.unit-dwo__vertical-line2 {
	width: 2px;
	height: 80%;
	background-color: #000000;
	position: absolute;
	top: 0px;
	left: 30px;
}

.unit-dwo__vertical-line2-zn2 {
	position: absolute;
	top: 10px;
	left: -11px;
	width: 24px;
	height: 24px;
	background-color: #ffffff;
}

.unit-dwo__zus {
	position: absolute;
	top: 42px;
	left: -9.5px;
	width: 20px;
	height: 15px;
	background-color: #ffffff;
}




/* ______________________________________ */
.unit-dwo__horiz-line-end {
	width: 100%;
	height: 1px;
	background-color: #000000;
	position: absolute;
	top: 302px;
	left: 0;
}

.unit-dwo__end {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0px;
    display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0px;
	font-size: 13px;
	font-family: "sans-serif";
	/* font-weight: bold; */
}